<div class="modal-header" me-include="/static/tpl/modal_header.html"></div>
<div class="modal-body">
    <form name="modalForm" novalidate>
        <div class="form-group clearfix">
            <label class="col-sm-3 control-label">板卡商：</label>
            <div class="col-sm-9">
                <select class="form-control" name="vendorId" required ng-model="data.vendorId">
                    <option value="">请选择板卡商</option>
                    <option ng-repeat="r in vendors" ng-selected="data.id==r.id" value="{{r.id}}">{{r.name}}</option>
                </select>
                <div class="help-block" ng-messages="modalForm.vendorId.$error" ng-if="isShowMessage">
                    <p ng-message="required">请输入板卡商</p>
                </div>
            </div>
        </div>

        <div class="form-group clearfix">
            <label class="col-sm-3 control-label">授权数量：</label>
            <div class="col-sm-9">
                <input type="text" required ng-pattern="/^[+]{0,1}(\d+)$|^[+]{0,1}(\d+\.\d+)$/" class="form-control" name="quantity" ng-model="data.quantity"
                />
                <div class="help-block" ng-messages="modalForm.quantity.$error" ng-if="isShowMessage">
                    <p ng-message="pattern">请输入正确数字</p>
                    <p ng-message="required">请输入授权数量</p>
                </div>
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-sm-3 control-label">单价：</label>
            <div class="col-sm-9 p0">
                <div class="col-sm-8 pdr0">
                    <input type="text" required ng-pattern="/^[+]{0,1}(\d+)$|^[+]{0,1}(\d+\.\d+)$/" class="form-control" name="price" ng-model="data.price"
                    />
                    <div class="help-block" ng-messages="modalForm.price.$error" ng-if="isShowMessage">
                        <p ng-message="required">请输入单价</p>
                        <p ng-message="pattern">请输入正确单价</p>
                    </div>
                </div>
                <div class="col-sm-4 pdr0 lh34">元/授权码</div>

            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-sm-3 control-label">授权时间：</label>
            <div class="col-sm-9">
                <select class="form-control" required name="months" ng-model="data.months">
                    <option ng-selected="ex.val == data.months" ng-repeat="ex in terminalExpiredMonthOptions" value="{{ex.val}}">{{ex.name}}</option>
                </select>
                <div class="help-block" ng-messages="modalForm.months.$error" ng-if="isShowMessage">
                    <p ng-message="required">请选择授权时间</p>
                </div>
            </div>
        </div>

    </form>
</div>


<div class="modal-footer" me-include="/static/tpl/modal_footer.html"></div>