<div class="modal-header" me-include="/static/tpl/modal_header.html"></div>
<div class="modal-body">
    <form name="modalForm" novalidate>
        <div class="form-group clearfix">
            <label class="col-sm-3 control-label">板卡商：</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" required ng-pattern="/^[a-zA-Z0-9_-]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$/"
                    name="email" ng-model="data.email" />
            </div>
        </div>

        <div class="form-group clearfix">
            <label class="col-sm-3 control-label">授权数量：</label>
            <div class="col-sm-9">
                <input type="text" required class="form-control" name="contact" ng-model="data.contact" />
                <div class="help-block" ng-messages="modalForm.contact.$error" ng-if="isShowMessage">
                    <p ng-message="required">请输入联系人姓名</p>
                </div>
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-sm-3 control-label">单价：</label>
            <div class="col-sm-9 p0">
                <div class="col-sm-8 pdr0">
                    <input type="text" required ng-pattern="/^[+]{0,1}(\d+)$|^[+]{0,1}(\d+\.\d+)$/" class="form-control" name="price" ng-model="data.price"
                    />
                    <div class="help-block" ng-messages="modalForm.price.$error" ng-if="isShowMessage">
                        <p ng-message="required">请输入单屏价格</p>
                        <p ng-message="pattern">请输入正确单屏价格</p>
                    </div>
                </div>
                <div class="col-sm-4 pdr0 lh34">元/授权码</div>

            </div>
            <div ng-if="data.id" class="col-sm-9 lh34">
                {{data.price}} 元/年
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-sm-3 control-label">授权时间：</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" required ng-pattern="/^[a-zA-Z0-9_-]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$/"
                    name="email" ng-model="data.email" />
            </div>
        </div>

    </form>
</div>


<div class="modal-footer" me-include="/static/tpl/modal_footer.html"></div>