<div class="modal-header" me-include="/static/tpl/modal_header.html"></div>
<div class="modal-body">
    <form name="modalForm" novalidate>
        <div ng-if="!data.id" class="form-group clearfix">
            <label class="col-sm-3 control-label">板卡商代码：</label>
            <div class="col-sm-9">
                <input type="text" autofocus required class="form-control" name="key" ng-model="data.key" />
                <div class="help-block" ng-messages="modalForm.key.$error" ng-if="isShowMessage">
                    <p ng-message="required">请输入板卡商代码</p>
                </div>
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-sm-3 control-label">板卡商名称：</label>
            <div class="col-sm-9">
                <input type="text" required class="form-control" name="key" ng-model="data.key" />
                <div class="help-block" ng-messages="modalForm.key.$error" ng-if="isShowMessage">
                    <p ng-message="required">请输入板卡商名称</p>
                </div>
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-sm-3 control-label">联系人：</label>
            <div class="col-sm-9">
                <input type="text" required class="form-control" name="contact" ng-model="data.contact" />
                <div class="help-block" ng-messages="modalForm.contact.$error" ng-if="isShowMessage">
                    <p ng-message="required">请输入联系人姓名</p>
                </div>
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-sm-3 control-label">邮箱：</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" required ng-pattern="/^[a-zA-Z0-9_-]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$/"
                    name="email" ng-model="data.email" />
                <div class="help-block" ng-messages="modalForm.email.$error" ng-if="isShowMessage">
                    <p ng-message="pattern">请输入正确邮箱</p>
                    <p ng-message="required">请输入邮箱</p>
                </div>
            </div>
        </div>

        
        <div class="form-group clearfix">
            <label class="col-sm-3 control-label">联系电话：</label>
            <div class="col-sm-9">
                <input type="text" required ng-pattern="/^1[0-9]\d{9}$/" class="form-control" name="phone" ng-model="data.phone" />
                <div class="help-block" ng-messages="modalForm.phone.$error" ng-if="isShowMessage">
                    <p ng-message="pattern">请输入正确手机号</p>
                    <p ng-message="required">请输入联系电话</p>
                </div>
            </div>
        </div>

    </form>
</div>


<div class="modal-footer" me-include="/static/tpl/modal_footer.html"></div>