<div class="modal-header" me-include="/static/tpl/modal_header.html"></div>
<div class="modal-body clearfix">
    <div class="col-sm-8 marb20" style="background:#f6f7fa;height:350px;">
        <p>终端二维码</p>
        <div class="polr">
            <img src="/static/img/loading.gif" ng-if="data.width > data.height" style="width:100%;height:350px;display:block;" lazy-src="{{data.nUrl}}"
            />
            <img src="/static/img/loading.gif" ng-if="data.width < data.height || data.width == data.height" style="width:auto;height:350px;display:block;min-width:200px;margin:0 auto;"
                lazy-src="{{data.nUrl}}" />
            <button class="fullScreenBtn" ng-click=imgPreview(data)>
                <i class="fa fa-arrows-alt"></i>
            </button>
        </div>
    </div>
    <div class="col-sm-4 modalDetail">
        <div class="row">
            <label class="col-sm-4 control-label pdr0">公司名称</label>
            <div class="col-sm-8 pdr0 ellipsTXt">{{data.name}}
            </div>
        </div>
        <div class="row">
            <label class="col-sm-4 control-label pdr0">联系人</label>
            <div class="col-sm-8 pdr0">{{data.width}}*{{data.height}}
            </div>
        </div>
        <div class="row">
            <label class="col-sm-4 control-label pdr0">手机号</label>
            <div class="col-sm-8 pdr0">{{data.width}}*{{data.height}}
            </div>
        </div>
        <div class="row">
            <label class="col-sm-4 control-label pdr0">提交时间</label>
            <div class="col-sm-8 pdr0">{{data.width}}*{{data.height}}
            </div>
        </div>
        <div class="row">
            <label class="col-sm-4 control-label pdr0">当前状态</label>
            <div ng-if="!data.nstatus && data.status == 0" class="col-sm-8">
                待提交
            </div>
            <div ng-if="!data.nstatus && data.status == 1" class="col-sm-8">
                已提交
            </div>
        </div>
    </div>


</div>
<div class="modal-footer" ng-if="data.detailType == 1" me-include="/static/tpl/modal_footerCheck.html"></div>