<div class="modal-header" me-include="/static/tpl/modal_header.html"></div>
<div class="modal-body">
    <form name="modalForm" novalidate>
        <div class="form-group clearfix">
            <label class="col-sm-3 control-label">企业名称：</label>
            <div class="col-sm-9">
                <input type="text" name="name" required class="form-control" ng-model="data.name" />
                <div class="help-block" ng-messages="modalForm.name.$error" ng-if="isShowMessage">
                    <p ng-message="required">请输入企业名称</p>
                </div>
            </div>
        </div>

        <div ng-if="!data.id" class="form-group clearfix">
            <label class="col-sm-3 control-label">企业代码：</label>
            <div class="col-sm-9">
                <input type="text" required class="form-control" name="key" ng-model="data.key" />
                <div class="help-block" ng-messages="modalForm.key.$error" ng-if="isShowMessage">
                    <p ng-message="required">请输入企业代码</p>
                </div>
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-sm-3 control-label">关联邮箱：</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" required ng-pattern="/^[a-zA-Z0-9_-]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$/"
                    name="email" ng-model="data.email" />
                <div class="help-block" ng-messages="modalForm.email.$error" ng-if="isShowMessage">
                    <p ng-message="pattern">请输入正确邮箱</p>
                    <p ng-message="required">请输入邮箱</p>
                </div>
            </div>
        </div>

        <div class="form-group clearfix">
            <label class="col-sm-3 control-label">联系人：</label>
            <div class="col-sm-9">
                <input type="text" required class="form-control" name="contact" ng-model="data.contact" />
                <div class="help-block" ng-messages="modalForm.contact.$error" ng-if="isShowMessage">
                    <p ng-message="required">请输入联系人姓名</p>
                </div>
            </div>
        </div>

        <div class="form-group clearfix">
            <label class="col-sm-3 control-label">联系电话：</label>
            <div class="col-sm-9">
                <input type="text" required ng-pattern="/^1[0-9]\d{9}$/" class="form-control" name="phone" ng-model="data.phone" />
                <div class="help-block" ng-messages="modalForm.phone.$error" ng-if="isShowMessage">
                    <p ng-message="pattern">请输入正确手机号</p>
                    <p ng-message="required">请输入联系电话</p>
                </div>
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-sm-3 control-label">账号类型：</label>
            <div class="col-sm-9" ng-if="type == 0">
                <select class="form-control" required name="type" ng-model="data.type">
                    <option ng-selected="type.val == data.type" ng-repeat="type in domainUseOptions" value="{{type.val}}">{{type.name}}</option>
                </select>
                <div class="help-block" ng-messages="modalForm.type.$error" ng-if="isShowMessage">
                    <p ng-message="required">请选择账号类型</p>
                </div>
            </div>
            <div class="col-sm-9 lh34" ng-if="type == 1">
                正式
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-sm-3 control-label">合同时间：</label>
            <div class="col-sm-9 p0">
                <div class="form-group col-sm-5 pdr0">
                    <div class="dateTimeWrap">
                        <input name="contractStart" required id="contractStart" type="text" class="form-control" data-date-type="string" data-date-format="yyyy-MM-dd"
                            data-model-date-format="yyyy-MM-dd" ng-model="data.contractStart" placeholder="起始日期" data-autoclose="1"
                            bs-datepicker>
                        <label for="contractStart" class="timeLabel">{{data.contractStart?data.contractStart:'起始日期'}}
                            <i class="fa fa-calendar"></i>
                        </label>
                    </div>
                    <div class="help-block" ng-messages="modalForm.contractStart.$error" ng-if="isShowMessage">
                        <p ng-message="required">请输入起始日期</p>
                    </div>
                </div>
                <div class="form-group col-sm-2 lh34 text-center">
                    至
                </div>
                <div class="form-group col-sm-5 pdl0">
                    <div class="dateTimeWrap">
                        <input name="contractEnd" required type="text" id="contractEnd" class="form-control dateSel" data-date-type="string" data-date-format="yyyy-MM-dd"
                            data-model-date-format="yyyy-MM-dd" ng-model="data.contractEnd" placeholder="截止日期" data-autoclose="1"
                            bs-datepicker>
                        <label for="contractEnd" class="timeLabel">{{data.contractEnd?data.contractEnd:'截止日期'}}
                            <i class="fa fa-calendar"></i>
                        </label>
                    </div>
                    <div class="help-block" ng-messages="modalForm.contractStart.$error" ng-if="isShowMessage">
                        <p ng-message="required">请输入截止日期</p>
                    </div>
                </div>
                <div class="help-block" style="padding-left:15px;" ng-if="data.contractStart > data.contractEnd && isShowMessage">
                    <p>开始日期不得大于结束日期</p>
                </div>
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-sm-3 control-label">收费单位：</label>
            <div class="col-sm-9">
                <select class="form-control" required name="payType" ng-model="data.payType">
                    <option ng-selected="paytype.val == data.payType" ng-repeat="paytype in payTypeOptions" value="{{paytype.val}}">{{paytype.name}}</option>
                </select>
                <div class="help-block" ng-messages="modalForm.payType.$error" ng-if="isShowMessage">
                    <p ng-message="required">请选择收费方式</p>
                </div>
            </div>
        </div>
        <div class="form-group clearfix" ng-if="data.type == 1">
            <label class="col-sm-3 control-label">单价：</label>
            <div ng-if="!data.id" class="col-sm-9 p0">
                <div class="col-sm-10 pdr0">
                    <input type="text" required ng-pattern="/^[+]{0,1}(\d+)$|^[+]{0,1}(\d+\.\d+)$/" class="form-control" name="price" ng-model="data.price"
                    />
                    <div class="help-block" ng-messages="modalForm.price.$error" ng-if="isShowMessage">
                        <p ng-message="required">请输入单屏价格</p>
                        <p ng-message="pattern">请输入正确单屏价格</p>
                    </div>
                </div>
                <div class="col-sm-2 pdr0 lh34">元/年</div>

            </div>
            <div ng-if="data.id" class="col-sm-9 lh34">
                {{data.price}} 元/年
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-sm-3 control-label pdl0">终端使用时间：</label>
            <div class="col-sm-9">
                <select class="form-control" required name="terminalExpiredMonth" ng-model="data.terminalExpiredMonth">
                    <option ng-selected="ex.val == data.terminalExpiredMonth" ng-repeat="ex in terminalExpiredMonthOptions" value="{{ex.val}}">{{ex.name}}</option>
                </select>
                <div class="help-block" ng-messages="modalForm.terminalExpiredMonth.$error" ng-if="isShowMessage">
                    <p ng-message="required">请选择终端使用时间</p>
                </div>
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-sm-3 control-label">素材审核：</label>
            <div class="col-sm-9 lh34">
                <input name="materialCheck" ng-click="updateSelection($event,'1','materialCheck',0)" ng-checked="data.materialCheck.indexOf('1') != -1"
                    type="checkbox">内部审核
                <input name="materialCheck" ng-click="updateSelection($event,'0','materialCheck',1)" ng-checked="data.materialCheck.indexOf('0') != -1"
                    type="checkbox">平台审核
            </div>
        </div>

        <div class="form-group clearfix">
            <label class="col-sm-3 control-label">节目审核：</label>
            <div class="col-sm-9 lh34">
                <input name="programCheck" ng-click="updateSelection($event,'1','programCheck',0)" ng-checked="data.programCheck.indexOf('1') != -1"
                    type="checkbox">内部初审
                <input name="programCheck" ng-click="updateSelection($event,'2','programCheck',1)" ng-checked="data.programCheck.indexOf('2') != -1"
                    type="checkbox">内部终审
                <input name="programCheck" ng-click="updateSelection($event,'0','programCheck',2)" ng-checked="data.programCheck.indexOf('0') != -1"
                    type="checkbox">平台审核
            </div>
        </div>

        <div class="form-group clearfix">
            <label class="col-sm-3 control-label">文字屏管理：</label>
            <div class="col-sm-9 lh34">
                <input name="ledShow" ng-click="updateSelection($event,'1','ledShow')" ng-checked="data.ledShow == 1" type="checkbox">开启

            </div>
        </div>
    </form>
</div>


<div class="modal-footer" me-include="/static/tpl/modal_footer.html"></div>