<div class="modal-header" me-include="/static/tpl/modal_header.html"></div>
<div class="modal-body">
	<div class="table-wrapper">
		<table class="table" st-pipe="callServer" st-table="displayed">
			<thead>
				<tr>
					<th>类型</th>
					<th>名称</th>
					<th>发布时间</th>
				</tr>
			</thead>
			<tbody ng-show="!isLoading">
				<tr ng-repeat="row in displayed">
					<td style="width:174px;">
						<div ng-if="!row.stype && row.stype != 1">
							节目
						</div>
						<div ng-if="row.stype == 1">
							排期
						</div>
					</td>
					<td class="tdClick ellipsisTd" title="{{row.name || row.programName}}" ng-click="showProgramOrSchedule(row)">{{row.name || row.programName}}
						<font color="red" ng-if="row.expired">[已过期]</font>
						</span>
					</td>
	
					<td>{{row.createTime | formateTime}}</td>
				</tr>
			</tbody>
			<tbody me-include="/static/tpl/table.html"></tbody>
					<tfoot ng-show="!isLoading" me-include="/static/tpl/table_footer.html"></tfoot>
		</table>
	</div>
</div>