<div class="modal-header" me-include="/static/tpl/modal_header.html"></div>
<div class="modal-body clearfix">
    <form name="modalForm" novalidate>
        <div class="form-group clearfix">
            <label class="col-sm-3 control-label">调整类型：</label>
            <div class="col-sm-9">
                <select class="form-control" required name="type" ng-model="type">
                    <option ng-repeat="adjust in maturityAdjustOptions" value="{{adjust.val}}">{{adjust.name}}</option>
                </select>
                <div class="help-block" ng-messages="modalForm.type.$error" ng-if="isShowMessage">
                    <p ng-message="required">请选择日期调整类型</p>
                </div>
            </div>
        </div>

        <div class="form-group clearfix">
            <label class="col-sm-3 control-label">选择日期：</label>
            <div class="col-sm-9">
                <div class="dateTimeWrap">
                    <input name="date" required id="date" type="text" class="form-control" data-date-type="string" data-date-format="yyyy-MM-dd"
                        data-model-date-format="yyyy-MM-dd" ng-model="date" placeholder="选择日期" data-autoclose="1"
                        bs-datepicker>
                    <label for="date" class="timeLabel">{{date?date:'选择日期'}}
                        <i class="fa fa-calendar"></i>
                    </label>
                </div>
                <div class="help-block" ng-messages="modalForm.date.$error" ng-if="isShowMessage">
                    <p ng-message="required">请选择日期</p>
                </div>
            </div>
        </div>
        <div class="form-group clearfix">

            <label class="col-sm-3 control-label">调整原因</label>
            <div class="col-sm-9">
                <input type="text" required class="form-control" name="reason" ng-model="reason" />
                <div class="help-block" ng-messages="modalForm.reason.$error" ng-if="isShowMessage">
                    <p ng-message="required">请输入调整原因</p>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer" me-include="/static/tpl/modal_footer.html"></div>