<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
</div>


<div class="modal-body">
    <form name="adminForm" novalidate>
        <div class="form-group form-group-sm clearfix">
            <label class="col-sm-3 form_right">管理员账号</label>
            <div class="col-sm-9 form_input">
                <input type="text" required class="form-control" name="account" ng-if="data.id==''" ng-model="data.account" />
                <div class="help-block"  ng-messages="adminForm.account.$error" ng-if="isShowMessage">
                    <p ng-message="required">请输入管理员账号</p>
                </div>
                <span ng-if="data.id!=''">{{data.account}}</span>
            </div>
        </div>

        <div class="form-group form-group-sm clearfix">
            <label class="col-sm-3 form_right">管理员名称</label>
            <div class="col-sm-9 form_input">
                <input type="text" required class="form-control" name="name" ng-model="data.name" />
                <div class="help-block"  ng-messages="adminForm.name.$error" ng-if="isShowMessage">
                    <p ng-message="required">请输入管理员名称</p>
                </div>
            </div>
        </div>

        <div class="form-group form-group-sm clearfix">
            <label class="col-sm-3 form_right">用户说明</label>
            <div class="col-sm-9 form_input">
                <input type="text" class="form-control" name="note" ng-model="data.note" />

            </div>
        </div>

        <div class="form-group form-group-sm clearfix">
            <label class="col-sm-3 form_right">手机</label>
            <div class="col-sm-9 form_input">
                <input type="text" name="phone" ng-pattern="/^1[34578]\d{9}$/" class="form-control" ng-model="data.phone" />
                <div class="help-block" ng-messages="adminForm.phone.$error" ng-if="isShowMessage">
                    <p ng-message="pattern">请输入正确手机号</p>
                </div>
            </div>
        </div>

        <div class="form-group form-group-sm clearfix">
            <label class="col-sm-3 form_right">邮箱</label>
            <div class="col-sm-9 form_input">
                <input type="text" class="form-control" ng-pattern="/^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/"  name="email" ng-model="data.email" />
                <div class="help-block" ng-messages="adminForm.email.$error" ng-if="isShowMessage">
                    <p ng-message="pattern">请输入正确邮箱</p>
                </div>
            </div>
        </div>
        <div class="form-group form-group-sm clearfix">
            <label class="col-sm-3 form_right">备注</label>
            <div class="col-sm-9 form_input">
                <input type="text" class="form-control" name="remark" maxlength="50" ng-model="data.remark" />

            </div>
        </div>
    </form>



</div>

<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="modalConfirmSubmit()" id="form_modal_btn">确定</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
</div>