<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
</div>


<div class="modal-body">
    <form name="auserForm" novalidate>
        <div class="form-group form-group-sm clearfix">
            <label class="col-sm-3 form_right">手机号</label>
            <div class="col-sm-9 form_input">
                <input required ng-pattern="/^1[34578]\d{9}$/" type="text" name="phone" class="form-control" ng-if="data.id == ''" ng-model="data.phone" />
                <div class="help-block" ng-messages="auserForm.phone.$error" ng-if="isShowMessage">
                    <p ng-message="required">请输入手机号</p>
                    <p ng-message="pattern">请输入正确手机号</p>
                </div>
                <span ng-if="data.id!=''">{{data.phone}}</span>
            </div>
        </div>


        <div class="form-group form-group-sm clearfix">
            <label class="col-sm-3 form_right">安装人员姓名</label>
            <div class="col-sm-9 form_input">
                <input type="text" required class="form-control" name="name" ng-model="data.name" />
                <div class="help-block"  ng-messages="auserForm.name.$error" ng-if="isShowMessage">
                    <p ng-message="required">请输入安装人员姓名</p>
                </div>
            </div>
        </div>


        <div class="form-group form-group-sm clearfix">
            <label class="col-sm-3 form_right">所属企业代码</label>
            <div class="col-sm-9 form_input">
                <input type="text" required class="form-control" name="domain" ng-model="data.domain" />
                <div class="help-block"  ng-messages="auserForm.domain.$error" ng-if="isShowMessage">
                    <p ng-message="required">请输入企业代码</p>
                </div>
            </div>
        </div>

        <div class="form-group form-group-sm clearfix">
            <label class="col-sm-3 form_right">备注</label>
            <div class="col-sm-9 form_input">
                <input type="text" class="form-control" name="remark" ng-model="data.remark" />

            </div>
        </div>
    </form>



</div>

<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="modalConfirmSubmit()" id="form_modal_btn">确定</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
</div>