
    <form name="dictionaryForm" novalidate>
        <div class="form-group clearfix">
            <label class="col-sm-3 control-label">类型：</label>
            <div class="col-sm-9 lh34">
                {{type==1?'次键':'主键'}}
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-sm-3 control-label">主键(Key)：</label>
            <div class="col-sm-9 lh34">
                <input ng-model="data.key" autofocus ng-if="type==0" required type="text" class="form-control" name="key" />
                <div class="help-block" ng-messages="dictionaryForm.key.$error" ng-if="isShowMessage">
                    <p ng-message="required">请输入主键值</p>
                </div>
                <span ng-if="type==1">{{data.key}}</span>
            </div>
        </div>
        <div ng-if="type==1" class="form-group clearfix">
            <label class="col-sm-3 control-label">键值：</label>
            <div class="col-sm-9">
                <input ng-model="data.value" autofocus required type="text" class="form-control" name="value" />
                <div class="help-block" ng-messages="dictionaryForm.value.$error" ng-if="isShowMessage">
                    <p ng-message="required">请输入键值</p>
                </div>
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-sm-3 control-label">名称：</label>
            <div class="col-sm-9">
                <input type="text" ng-model="name" class="form-control" name="name" />
                <div class="help-block" required ng-messages="dictionaryForm.name.$error" ng-if="isShowMessage">
                    <p ng-message="required">请输入键名</p>
                </div>
            </div>
        </div>

    </form>
