<div class="table-wrapper">
    <div class="clearfix">
            <div class="fl">选择企业</div>
            <div class="fr">
                    <div class="input-group serchWrap">
                        <input type="text" class="form-control" ng-model="sp.search" placeholder="企业代码/企业名称">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary">
                                <i type="button" ng-click="initPage()" class="fa fa-search">
                                </i>
                            </button>
                        </span>
                    </div>
                </div>
        </div>
<table class="table tableNoBorder" st-pipe="callServer" st-table="displayed">
    <thead>
        <tr>
            <th>企业名称</th>
            <th>企业代码</th>
            <th>操作</th>
        </tr>
    </thead>

    <tbody ng-show="!isLoading">
        <tr ng-repeat="row in displayed">
            <td class="ellipsisTd">{{row.name}}</td>
            <td>{{row.key}}</td>
            <td>
                <button class="btn btn-primary tableBtn" ng-click="migrate(row)">迁入</button>
            </td>
        </tr>
    </tbody>
    <tbody ng-include="'tpl/table.html'"></tbody>
    <tfoot ng-show="!isLoading" ng-include="'tpl/table_footer.html'"></tfoot>
</table>
</div>