<div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
    </div>
    
    
    <div class="modal-body">
        <form name="passwardForm" novalidate>
    
            <div class="form-group form-group-sm clearfix">
                <label class="col-sm-3 form_right">新密码</label>
                <div class="col-sm-9 form_input">
                    <input type="text" required class="form-control" name="password" ng-model="data.password" />
                    <div class="help-block"  ng-messages="passwardForm.password.$error" ng-if="isShowMessage">
                        <p ng-message="required">请输入新密码</p>
                    </div>
                </div>
            </div>
           
        </form>
    
    
    
    </div>
    
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="modalConfirmSubmit()" id="form_modal_btn">确定</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
    </div>