<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
</div>


<div class="modal-body">
    <form name="noticeForm" novalidate>
        <div class="form-group form-group-sm clearfix">
            <label class="col-sm-3 form_right">通知内容：</label>
            <div class="col-sm-9 form_input">
                <textarea ng-model="data.noticeText" name="noticeText" style="height:96px;resize:none;overflow-x:hidden;" required class="form-control"></textarea>
                <div class="help-block" ng-messages="noticeForm.noticeText.$error" ng-if="isShowMessage">
                    <p ng-message="required">请输入通知内容</p>
                </div>
            </div>
        </div>

        <div class="form-group form-group-sm clearfix">
            <label class="col-sm-3 form_right">开始时间：</label>
            <div class="col-sm-9 form_input">
                <div class="col-sm-6 p0">
                    <div class="timeSelectWrap" change="formDate(newValue, oldValue,'startDate')" start-view="month" moment-picker="" today="true"
                        format="YYYY-MM-DD" min-date="today">
                        <span ng-class="{'text-muted': !startDate}">
                            {{ formateDate(startDate) || '起始日期' }}
                        </span>
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="hidden" required name="startDate" ng-model="startDate">
                    <div class="help-block" ng-messages="noticeForm.startDate.$error" ng-if="isShowMessage">
                        <p ng-message="required">请输入起始日期</p>
                    </div>
                </div>
                <div class="col-sm-6 pdr0" style="padding-left:10px;padding-top:3px;">
                    <div class="col-sm-6 p0" style="padding-right:5px;">
                        <select class="form-control" ng-options="h.value as h.name for h in selectH" ng-init="data.start_h=0" ng-model="data.start_h"
                            ng-change="checkTime()">
                        </select>
                    </div>
                    <div class="col-sm-6 p0" style="padding-left:5px;">
                        <select class="form-control" ng-options="m.value as m.name for m in selectM" ng-init="data.start_m=0" ng-change="checkTime()"
                            ng-model="data.start_m">
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group form-group-sm clearfix">
            <label class="col-sm-3 form_right">结束时间：</label>
            <div class="col-sm-9 form_input">
                <div class="col-sm-6 p0">
                    <div class="timeSelectWrap" min-date="today" change="formDate(newValue, oldValue,'endDate')" start-view="month" moment-picker=""
                        today="true" format="YYYY-MM-DD">
                        <span ng-class="{'text-muted': !endDate}">
                            {{ formateDate(endDate) || '结束日期' }}
                        </span>
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="hidden" required name="endDate" ng-model="endDate">
                    <div class="help-block" ng-messages="noticeForm.endDate.$error" ng-if="isShowMessage">
                        <p ng-message="required">请输入结束日期</p>
                    </div>
                </div>
                <div class="col-sm-6 pdr0" style="padding-left:10px;padding-top:3px;">
                    <div class="col-sm-6 p0" style="padding-right:5px;">
                        <select class="form-control" ng-options="h.value as h.name for h in selectH" ng-init="data.end_h=0" ng-model="data.end_h"
                            ng-change="checkTime()">
                        </select>
                    </div>
                    <div class="col-sm-6 p0" style="padding-left:5px;">
                        <select class="form-control" ng-options="m.value as m.name for m in selectM" ng-init="data.end_m=0" ng-change="checkTime()"
                            ng-model="data.end_m">
                        </select>
                    </div>
                </div>
            </div>
            <!-- <div class="help-block" ng-if="isShowMessage">
                <p ng-if="data.contractStart > data.contractEnd">开始日期不得大于结束日期</p>
            </div> -->
        </div>

    </form>


</div>

<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="modalConfirmSubmit()" id="form_modal_btn">确定</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
</div>