<div class="clearfix">
	<div ng-if="data.screenshot" class="row">
		<div class="col-sm-12">
				<img alt="截图" style="max-height:300px;width:100%;height:auto;display:block;" src="../img/loading.gif" lazy-src="{{data.screenshot}}" />				
		</div>
	</div>
	<div class="row modalDetail">
		<div class="col-sm-6 p0">
			<div class="col-sm-12 p0" ng-if="data.appVersion!=null&&data.appVersion!=''">
				<label class="col-sm-4 control-label">服务端时间</label>
				<div class="col-sm-8">
					{{data.sync_time | date : 'yyyy-MM-dd HH:mm:ss'}}
				</div>
			</div>
			<div class="col-sm-12 p0" ng-if="data.terminal_time!=null">
				<label class="col-sm-4 control-label">终端时间</label>
				<div class="col-sm-8">
					{{data.terminal_time | date : 'yyyy-MM-dd HH:mm:ss'}}


				</div>
			</div>
			<div class="col-sm-12 p0">
				<label class="col-sm-4 control-label">创建时间</label>
				<div class="col-sm-8">
					{{data.createTime | date : 'yyyy-MM-dd HH:mm:ss'}}


				</div>
			</div>
			<div class="col-sm-12 p0" ng-if="data.op!=null&&data.op!=''">
				<label class="col-sm-4 control-label">系统</label>
				<div class="col-sm-8">
					{{getRootDicName('terminal_op',data.op)}}
				</div>
			</div>

			<div class="col-sm-12 p0" ng-if="data.appVersion!=null&&data.appVersion!=''">
				<label class="col-sm-4 control-label">APP版本</label>
				<div class="col-sm-8">
					{{data.appVersion}}

				</div>
			</div>

			<div class="col-sm-12 p0" ng-if="data.target_ver!=null&&data.target_ver!=''">
				<label class="col-sm-4 control-label">目标版本</label>
				<div class="col-sm-8">
					{{data.target_ver}}

				</div>
			</div>
			<div class="col-sm-12 p0" ng-if="data.settingVer!=null&&data.settingVer!=''">
				<label class="col-sm-4 control-label">Setting版本</label>
				<div class="col-sm-8">
					{{data.settingVer}}
				</div>
			</div>




			<div class="col-sm-12 p0" ng-if="data.netType!=null&&data.netType!=''">
				<label class="col-sm-4 control-label">网络类型</label>
				<div class="col-sm-8">
					{{getRootDicName('net_type',data.netType)}}

				</div>
			</div>
			<div class="col-sm-12 p0" ng-if="data.ip!=null&&data.ip!=''">
				<label class="col-sm-4 control-label">IP地址</label>
				<div class="col-sm-8">
					{{data.ip}}

				</div>
			</div>

		</div>
		<div class="col-sm-6 p0" style="line-height:32px;">
				<div class="col-sm-12 p0" ng-if="data.mac!=null&&data.mac!=''">
						<label class="col-sm-4 control-label">MAC地址</label>
						<div class="col-sm-8">
							{{data.mac}}
		
						</div>
					</div>
					<div class="col-sm-12 p0" ng-if="data.disk_info!=null&&data.disk_info!=''">
						<label class="col-sm-4 control-label">硬盘信息</label>
						<div class="col-sm-8">
							{{data.disk_info}}
		
						</div>
					</div>
		
					<div class="col-sm-12 p0" ng-if="data.hw_info!=null&&data.hw_info!=''">
						<label class="col-sm-4 control-label">内存信息</label>
						<div class="col-sm-8">
							{{data.hw_info}}
		
						</div>
					</div>
					<div class="col-sm-12 p0" ng-if="data.cardModel!=null&&data.cardModel!=''">
							<label class="col-sm-4 control-label">板卡信息</label>
							<div class="col-sm-8">
								{{data.cardModel}}
			
							</div>
						</div>
			
						<div class="col-sm-12 p0" ng-if="data.sw_info!=null&&data.sw_info!=''">
							<label class="col-sm-4 control-label">软件信息</label>
							<div class="col-sm-8">
								{{data.sw_info}}
			
							</div>
						</div>
						<div class="col-sm-12 p0" ng-if="data.program_id!=null&&data.program_id!=''">
							<label class="col-sm-4 control-label">当前播放</label>
							<div class="col-sm-8 ellipsTXt">
								{{data.program_id}}
							</div>
						</div>


			<div class="col-sm-12 p0" ng-if="data.volumn!=null&&data.volumn!=''">
					<label class="col-sm-4 control-label">当前音量</label>
					<div class="col-sm-8">
						{{data.volumn}}
	
					</div>
				</div>
				<div class="col-sm-12 p0" ng-if="data.remark!=null&&data.remark!=''">
					<label class="col-sm-4 control-label">备注信息</label>
					<div class="col-sm-8">
						{{data.remark}}	
					</div>
				</div>
		</div>

	</div>
</div>