<div class="modal-header">
	<h4 class="modal-title">终端状态信息</h4>
</div>

<div class="modal-body" style="padding-top:10px;">
	<div ng-if="data.screenshot" class="row">
		<div class="col-sm-12">
				<img alt="截图" style="max-height:300px;width:100%;height:auto;display:block;" ng-src="{{data.screenshot}}" />				
		</div>
	</div>
	<div class="row modalDetail">
		<div class="col-sm-6 p0 form-horizontal" style="line-height:32px;">
			<div class="col-sm-12 p0" ng-if="data.appVersion!=null&&data.appVersion!=''">
				<label class="col-sm-4 form_right p0">服务端时间</label>
				<div class="col-sm-8 pdr0 form_input">
					{{data.sync_time | date : 'yyyy-MM-dd HH:mm:ss'}}
				</div>
			</div>
			<div class="col-sm-12 p0" ng-if="data.terminal_time!=null">
				<label class="col-sm-4 form_right p0">终端时间</label>
				<div class="col-sm-8 pdr0 form_input">
					{{data.terminal_time | date : 'yyyy-MM-dd HH:mm:ss'}}


				</div>
			</div>
			<div class="col-sm-12 p0">
				<label class="col-sm-4 form_right p0">创建时间</label>
				<div class="col-sm-8 pdr0 form_input">
					{{data.createTime | date : 'yyyy-MM-dd HH:mm:ss'}}


				</div>
			</div>
			<div class="col-sm-12 p0" ng-if="data.op!=null&&data.op!=''">
				<label class="col-sm-4 form_right p0">系统</label>
				<div class="col-sm-8 pdr0 form_input">
					{{getRootDicName('terminal_op',data.op)}}
				</div>
			</div>

			<div class="col-sm-12 p0" ng-if="data.appVersion!=null&&data.appVersion!=''">
				<label class="col-sm-4 form_right p0">APP版本</label>
				<div class="col-sm-8 pdr0 form_input">
					{{data.appVersion}}

				</div>
			</div>

			<div class="col-sm-12 p0" ng-if="data.target_ver!=null&&data.target_ver!=''">
				<label class="col-sm-4 form_right p0">目标版本</label>
				<div class="col-sm-8 pdr0 form_input">
					{{data.target_ver}}

				</div>
			</div>
			<div class="col-sm-12 p0" ng-if="data.settingVer!=null&&data.settingVer!=''">
				<label class="col-sm-4 form_right p0">Setting版本</label>
				<div class="col-sm-8 pdr0 form_input">
					{{data.settingVer}}
				</div>
			</div>




			<div class="col-sm-12 p0" ng-if="data.netType!=null&&data.netType!=''">
				<label class="col-sm-4 form_right p0">网络类型</label>
				<div class="col-sm-8 pdr0 form_input">
					{{getRootDicName('net_type',data.netType)}}

				</div>
			</div>
			<div class="col-sm-12 p0" ng-if="data.ip!=null&&data.ip!=''">
				<label class="col-sm-4 form_right p0">IP地址</label>
				<div class="col-sm-8 pdr0 form_input">
					{{data.ip}}

				</div>
			</div>

		</div>
		<div class="col-sm-6 p0 form-horizontal" style="line-height:32px;">
				<div class="col-sm-12 p0" ng-if="data.mac!=null&&data.mac!=''">
						<label class="col-sm-4 form_right p0">MAC地址</label>
						<div class="col-sm-8 pdr0 form_input">
							{{data.mac}}
		
						</div>
					</div>
					<div class="col-sm-12 p0" ng-if="data.disk_info!=null&&data.disk_info!=''">
						<label class="col-sm-4 form_right p0">硬盘信息</label>
						<div class="col-sm-8 pdr0 form_input">
							{{data.disk_info}}
		
						</div>
					</div>
		
					<div class="col-sm-12 p0" ng-if="data.hw_info!=null&&data.hw_info!=''">
						<label class="col-sm-4 form_right p0">内存信息</label>
						<div class="col-sm-8 pdr0 form_input">
							{{data.hw_info}}
		
						</div>
					</div>
					<div class="col-sm-12 p0" ng-if="data.cardModel!=null&&data.cardModel!=''">
							<label class="col-sm-4 form_right p0">板卡信息</label>
							<div class="col-sm-8 pdr0 form_input">
								{{data.cardModel}}
			
							</div>
						</div>
			
						<div class="col-sm-12 p0" ng-if="data.sw_info!=null&&data.sw_info!=''">
							<label class="col-sm-4 form_right p0">软件信息</label>
							<div class="col-sm-8 pdr0 form_input">
								{{data.sw_info}}
			
							</div>
						</div>
						<div class="col-sm-12 p0" ng-if="data.program_id!=null&&data.program_id!=''">
							<label class="col-sm-4 form_right p0">当前播放</label>
							<div class="col-sm-8 pdr0 form_input ellipsTXt">
								{{data.program_id}}
							</div>
						</div>


			<div class="col-sm-12 p0" ng-if="data.volumn!=null&&data.volumn!=''">
					<label class="col-sm-4 form_right p0">当前音量</label>
					<div class="col-sm-8 pdr0 form_input">
						{{data.volumn}}
	
					</div>
				</div>
				<div class="col-sm-12 p0" ng-if="data.remark!=null&&data.remark!=''">
					<label class="col-sm-4 form_right p0">备注信息</label>
					<div class="col-sm-8 pdr0 form_input">
						{{data.remark}}	
					</div>
				</div>
		</div>

	</div>
</div>