
    <form name="modalForm" novalidate>

        <div class="form-group clearfix">
            <label class="col-sm-3 control-label">登陆账号</label>
            <div class="col-sm-9">
                <input type="text" required class="form-control" name="account" ng-model="data.account" />
                <div class="help-block" ng-messages="modalForm.account.$error" ng-if="isShowMessage">
                    <p ng-message="required">请输入登陆账号</p>
                </div>
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-sm-3 control-label">账号名称</label>
            <div class="col-sm-9">
                <input type="text" required class="form-control" name="name" ng-model="data.name" />
                <div class="help-block" ng-messages="modalForm.name.$error" ng-if="isShowMessage">
                    <p ng-message="required">请输入账号名称</p>
                </div>
            </div>
        </div>
        <div ng-if="data.id == ''" class="form-group clearfix">
            <label class="col-sm-3 control-label">登录密码</label>
            <div class="col-sm-9">
                <input id="userPsd" type="text" placeholder="6-20个字母数字组合" ng-pattern="/(?!^[0-9]+$)(?!^[A-z]+$)(?!^[^A-z0-9]+$)^.{6,16}$/" required class="form-control" name="password" ng-model="password" />
                <div class="help-block" ng-messages="modalForm.password.$error" ng-if="isShowMessage">
                    <p ng-message="required">请输入密码</p>
                    <p ng-message="pattern">密码格式不正确</p>
                </div>
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-sm-3 control-label">账户角色</label>
            <div class="col-sm-9">
                <select class="form-control" name="role" required ng-model="data.role">
                    <option value="">请选择角色</option>
                    <option ng-repeat="r in roles" ng-selected="data.role==r.id" value="{{r.id}}">{{r.name}}</option>
                </select>
                <div class="help-block" ng-messages="modalForm.role.$error" ng-if="isShowMessage">
                    <p ng-message="required">请选择账户角色</p>
                </div>
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-sm-3 control-label">联系人</label>
            <div class="col-sm-9">
                <input type="text" required class="form-control" name="contact" ng-model="data.contact" />
                <div class="help-block" ng-messages="userForm.contact.$error" ng-if="isShowMessage">
                    <p ng-message="required">请输入联系人</p>
                </div>
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-sm-3 control-label">邮箱</label>
            <div class="col-sm-9">
                <input type="text" required ng-pattern="/^[a-zA-Z0-9_-]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$/" class="form-control" name="email" ng-model="data.email" />
                <div class="help-block" ng-messages="userForm.email.$error" ng-if="isShowMessage">
                    <p ng-message="required">请输入邮箱</p>
                    <p ng-message="pattern">请输入正确邮箱</p>
                </div>
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-sm-3 control-label">联系电话</label>
            <div class="col-sm-9">
                <input type="text" required ng-pattern="/^[1][3,4,5,7,8][0-9]{9}$/" class="form-control" name="phone" ng-model="data.phone" />
                <div class="help-block" ng-messages="userForm.phone.$error" ng-if="isShowMessage">
                    <p ng-message="required">请输入联系电话</p>
                    <p ng-message="pattern">请输入正确手机号</p>
                </div>
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-sm-3 control-label">关联企业</label>
            <div class="col-sm-9">
                <button style="width:100%;" class="btn btn-primary" ng-click="chooseDomain(data,0)">选择关联企业</button>
            </div>
        </div>
    </form>



</div>
