<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
</div>
<div class="modal-body" style="padding-top:20px;padding-bottom:10px;">
    <div class="mb10 clearfix" >
            <div class="selectWrap clearfix  fl first">
                    <select style="width:100px;" class="middle-select" ng-model="sp.status" ng-change="callServer(tableState)">
                            <option value="">系统类型</option>
                            <option value="1">Android</option>
                            <option value="2">Windows</option>                
                    </select>
                    <i class="fa fa-caret-down"></i>
                </div>
                <div class="searchInputWrap fr">
                        <input type="text" class="middle-input" ng-model="sp.search" placeholder="关键字搜索" />
                        <i type="button" ng-click="callServer(tableState)" class="fa fa-search">
                        </i>
                    </div>
    </div>
    <div class="table-wrapper">
        <table class="table" st-pipe="callServer" st-table="displayed">
            <thead>
                <tr>
                    <th>
                        <input ng-checked="ids.length == displayed.length" ng-click="checkAll($event)" type="checkbox">
                    </th>
                    <th>版本名称</th>
                    <th>系统类型</th>
                    <th>大小</th>
                    <th>备注</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody ng-if="displayed.length == 0">
                <tr>
                    <td colspan="10" class="text-center">没有查询到记录</td>
                </tr>
            </tbody>
            <tbody ng-show="!isLoading">
                <tr ng-repeat="row in displayed">
                    <td>
                        <input ng-click="checkThis(row,$event)" ng-checked="ids.indexOf(row.id) != -1" type="checkbox">
                    </td>
                    <td class="ellipsisTd" ng-click="details(row)">{{row.name}}</td>
                    <td>{{row.os== 1 ? "android" : "windows"}}</td>
                    <td>{{row.size
                        < 1024 * 1024? $filter( 'number')(row.size / 1024, 2) + "KB" : $filter( 'number')(row.size
                        / 1024 / 1024, 2) + "MB"}}</td>
                            <td>{{row.remark}}</td>
                            <td>{{$filter('date')(row.createTime, 'yyyy-MM-dd HH:mm:ss')}}</td>
                            <td>
                                <span>下载</span>
                            </td>

                </tr>
            </tbody>
            <tbody ng-show="isLoading">
                <tr>
                    <td colspan="{{displayed.length}}" class="text-center">Loading ... </td>
                </tr>
            </tbody>
            <tfoot ng-show="!isLoading">
                <tr>
                    <td ng-if="tableState.pagination.numberOfPages >= 2" colspan='2' class="text-left" style="vertical-align:top!important;width:50px;">每页
                        <select style="width:50px;margin:0 4px;" ng-model="sp.length" ng-change="callServer(tableState)">
                            <option value="" hidden>{{paginationNumber[0]}}</option>
                            <option ng-repeat="n in paginationNumber" value="{{n}}">{{n}}</option>
                        </select>条</td>

                    <td class="text-right" st-pagination="" st-template="tpl/pagination.html" st-items-by-page="10" colspan="6">
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="modalConfirmSubmit()" id="form_modal_btn">确定</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">关闭</button>
</div>