#headerBar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1030;
    width: 100%;
    .navInfo {
        color: red;
        line-height: 66px;
        color: #fff;
    }
    .navbar {
        border: #061827 1px solid!important;
    }
    .navbar-right {
        float: right!important;
        margin-right: -15px;
        .user {
            color: #fff!important;
            padding: 10px!important;
            .icon-touxiang {
                vertical-align: middle;
                font-size: 32px!important;
            }
        }
    }
    .navbar-static-top {
        transition: .3s;
        background-color: #002739;
        padding-left: 220px;
        padding-right: 20px;
    }
    span.minimalize-styl-2 {
        font-size: 24px;
        border: none;
        background: #005278;
        border-radius: 50%;
        width: 46px;
        height: 46px;
        color: #fff;
        margin: 10px!important;
    }
    
}
