<div class="border-bottom" id="headerBar">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span ng-click="toggleFullwidth()" class="navbar-minimalize minimalize-styl-2 btn">
                <i class="fa fa-navicon"></i>
            </span>
            <span class="navInfo">{{navInfo.split('|')[0]}} <span style="color: #0cf5c0;" ng-if="navInfo.split('|')[1]"> > {{navInfo.split('|')[1]}}</span></span>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle count-info user" data-toggle="dropdown">
                    <i class="iconfont icon-touxiang"></i>
                    <span>{{userData.admin.name}}</span>
                    <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu am-flip-x">
                    <li>
                        <a href="" ng-click="updatePwd()">
                            <i class="fa fa-user fa-fw"></i> 修改密码</a>
                    </li>
                    <li>
                        <a href="" ng-click="logout()">
                            <i class="fa fa-sign-out fa-fw"></i> 退出登录</a>
                    </li>
                </ul>
            </li>
        </ul>

    </nav>
</div>