<div class="page-wrap animated fadeInRight">
	<div class="level2" bindonce>
		<div class="dropdown-toolTip-wrap" bo-if="perms(31)">
			<button type="button" ng-if="idsNormal.length == 0 || idsNormal.length != ids.length" data-trigger="hover" bs-enabled="idsNormal.length == 0 || idsNormal.length != ids.length"
			    data-placement="bottom" data-type="success" data-title="{{'请先选择在线终端'}}" bs-tooltip class="btn toolTipPrev btn-primary warning">
			</button>
			<button type="button" ng-class="{'disabled-sham': idsNormal.length == 0 || idsNormal.length != ids.length}" class="btn btn-primary"
			    data-animation="am-flip-x" bs-dropdown aria-haspopup="true" aria-expanded="false">下发命令
				<i class="fa fa-caret-down"></i>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li>
					<a href="javascript:void(0)" ng-click="sendCommand(7)">
						终端截屏</a>
				</li>
				<li>
					<a href="javascript:void(0)" ng-click="sendCommand(8)">
						获取终端信息</a>
				</li>
				<li>
					<a href="javascript:void(0)" ng-click="sendCommand(9)">
						终端初始化</a>
				</li>
				<li>
					<a href="javascript:void(0)" ng-click="sendCommand(10)">
						获取运行日志
					</a>
				</li>
			</ul>
		</div>

		<button bo-if="perms(32)" type="button" ng-click="ids.length != 0?sendNotice():''" ng-class="{'disabled-sham': ids.length == 0}"
		    data-trigger="hover" bs-enabled="ids.length == 0" data-placement="bottom" data-type="success" data-title="{{'请先选择终端'}}"
		    bs-tooltip class="btn btn-primary warning">
			发布紧急通知
		</button>
		<button bo-if="perms(31)" type="button" ng-click="ids.length != 0?sendCommand(31):''" ng-class="{'disabled-sham': ids.length == 0}"
		    data-trigger="hover" bs-enabled="ids.length == 0" data-placement="bottom" data-type="success" data-title="{{'请先选择终端'}}"
		    bs-tooltip class="btn btn-primary warning">
			终端升级
		</button>
		<button bo-if="perms(34)" type="button" ng-click="ids.length != 0?migrateTerminals():''" ng-class="{'disabled-sham': ids.length == 0}"
		    data-trigger="hover" bs-enabled="ids.length == 0" data-placement="bottom" data-type="success" data-title="{{'请先选择终端'}}"
		    bs-tooltip class="btn btn-primary warning">
			终端迁移
		</button>
		<button bo-if="perms(36)" type="button" ng-click="ids.length != 0?delTerminals():''" ng-class="{'disabled-sham': ids.length == 0}"
		    data-trigger="hover" bs-enabled="ids.length == 0" data-placement="bottom" data-type="success" data-title="{{'请先选择终端'}}"
		    bs-tooltip class="btn btn-primary warning">
			终端删除
		</button>
		<button bo-if="perms(37)" type="button" ng-click="ids.length != 0?terminalcharge():''" ng-class="{'disabled-sham': ids.length == 0}"
		    data-trigger="hover" bs-enabled="ids.length == 0" data-placement="bottom" data-type="success" data-title="{{'请先选择终端'}}"
		    bs-tooltip class="btn btn-primary warning">
			调整终端日期
		</button>
	</div>
	<ul class="nav nav-tabs contentTabs">
		<li ui-sref="dashboard.terminalreport" ui-sref-active="active">
			<a>按企业查看</a>
		</li>
		<li ui-sref="dashboard.terminal" ui-sref-active="active">
			<a>按终端查看</a>
		</li>
	</ul>
	<div class="content-wrap">

		<div class="table-wrapper">
			<div class="clearfix" style="min-width: 920px;">
				<div class="selectWrap fl">
					<city-picker province="sp.provinceCode" city="sp.city_no" district="sp.districtCode" change="initPage"></city-picker>
					<km-select options="opOptions" selected="sp.op" val="val" name="name" change="initPage"></km-select>
					<km-select options="terminalStatusOptions" selected="sp.status" val="val" name="name" change="initPage"></km-select>
					<km-select options="hasProgramOptions" selected="sp.hasProgram" val="val" name="name" change="initPage"></km-select>
					<div class="dateTimeSelectWrap" style="width:120px;">
						<input type="text" id="dateSel" class="form-control" data-animation="am-flip-x" data-date-type="string" data-date-format="yyyy-MM"
							data-model-date-format="yyyy-MM" ng-model="dateSel" placeholder="终端注册时间" data-has-clear="true" data-start-view="1" data-min-view="1" data-autoclose="1" bs-datepicker>
						<label for="dateSel" class="timeLabel">{{dateSel == ''?'终端注册时间':dateSel}}
							<span class="caret"></span>
						</label>
					</div>
				</div>
				<div class="fr">
					<div class="input-group serchWrap">
						<input type="text" class="form-control" ng-model="sp.search" ng-keyup="myKeyup($event,initPage)" placeholder="终端编号/终端名称/版本号">
						<span class="input-group-btn" ng-click="initPage()">
							<button type="button" class="btn btn-primary">
								<i type="button" class="fa fa-search">
								</i>
							</button>
						</span>
					</div>
				</div>
				<div class="fr" style="width: 120px;margin-right:5px;">
					<div class="input-group">
						<input type="text" class="form-control" ng-keyup="myKeyup($event,initPage)" ng-model="sp.domain" placeholder="企业代码">
					</div>
				</div>
			</div>
			<table  style="min-width: 920px;" class="table table-striped table-hover dataTable" st-pipe="callServer" st-table="displayed">
				<thead>
					<tr>
						<th>
							<input ng-checked="ids.length == displayed.length && displayed.length != 0" ng-click="checkAll($event)" type="checkbox">
						</th>
						<th>终端编号</th>
						<th class="ellipsisTd">终端名称</th>
						<th ng-if="!stateParamsId">所属企业</th>
						<th>终端状态</th>
						<th>屏幕分辨率</th>
						<th>所属城市</th>
						<th>节目数量</th>
					</tr>
				</thead>

				<tbody ng-show="!isLoading">
					<tr ng-repeat="row in displayed" bindonce>
						<td>
							<input ng-click="checkThis(row,$event)" ng-checked="ids.indexOf(row.id) != -1" type="checkbox">
						</td>
						<td class="tdClick" ng-click="details(row)" bo-text="row.no"></td>
						<td bo-text="row.name"></td>
						<td bo-if="!stateParamsId" bo-text="row.domain + '('+ row.domainName +')'"></td>
						<td bo-text="row.status | terminalStatusTxt" bo-class="{'txtGreen':row.status == 1,'txtRed':row.status == 3,'txtGrey':row.status == 2 || row.status == 4}"></td>
						<td bo-text="row.resolution"></td>
						<td bo-text="row.city_no | getCityName"></td>
						<td class="tdClick" ng-click="showPrograms(row)" bo-text="row.programCounts"></td>
					</tr>
				</tbody>
				<tbody me-include="/static/tpl/table.html"></tbody>
				<tfoot ng-show="!isLoading" me-include="/static/tpl/table_footer.html"></tfoot>
			</table>
		</div>
	</div>
</div>