#siderBar {
    z-index: 2051;
    min-height: 0;
    .navbar-default {
        height: 100%;
        background: #fff;
        position: fixed;
        .brand {
            width: 180px;
            margin: 0 auto;
            padding: 20px 0;
            border-bottom: 1px solid #dcdcdc;
        }
        #side-menu {
            li {
                a.current {
                    padding-left: 21px;
                    border-left: 4px solid #00a0e9;
                    color: #00a0e9!important;
                }
            }
            li.active {
                
            }
        }
    }
}

