<nav class="navbar navbar-default navbar-fixed-top" id="siderBar">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <div class="brand">
                <a>
                    <img src="../../img/logo.png" class="img-responsive logo">
                </a>
            </div>
            <ul class="nav" id="side-menu">
                <li ng-repeat="menu in menuList" ng-class="{'active':menu.collapseVar==collapseVar}">
                    <a ng-click="toggleMenu(menu)" ng-class="{'current':menu.states.indexOf(state) != -1}">
                        <i class="{{menu.icon}}"></i>
                        <span>{{menu.name}}</span>
                        <span ng-if="menu.children" class="fa arrow"></span>
                    </a>
                    <ul ng-if="menu.children" class="nav nav-second-level collapse" ng-class="{'in':menu.collapseVar==collapseVar}">
                        <li ng-repeat="sMenu in menu.children">
                            <a ui-sref="{{sMenu.state}}">{{sMenu.name}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</nav>