<div class="page-wrap animated fadeInRight">
	<div class="level2" bindonce>
		<div  bo-if="perms(622)">
			<button type="button" ng-click="save()" class="btn btn-primary addRole">
				<i class="iconfont icon-tianjia-"></i>
				添加授权码
			</button>
		</div>
	</div>
	<div class="content-wrap">
			<div class="clearfix">
					<div class="fr">
						<div class="input-group serchWrap">
							<input type="text" class="form-control" ng-model="sp.search" ng-keyup="myKeyup($event,initPage)" placeholder="板卡商代码/板卡商名称">
							<span class="input-group-btn" ng-click="initPage()">
								<button type="button" class="btn btn-primary">
									<i type="button" class="fa fa-search">
									</i>
								</button>
							</span>
						</div>
					</div>
				</div>
		<div class="table-wrapper">
			<table class="table table-striped table-hover dataTable" st-pipe="callServer" st-table="displayed">
				<thead>
					<tr>
						<th>授权编号</th>
						<th>板卡商代码</th>
						<th>板卡商名称</th>
						<th>单价（元）</th>
						<th>授权时间</th>
						<th>授权数量</th>
						<th>已使用数量</th>
						<th>超限开关</th>
						<th>创建时间</th>
						<th>操作账号</th>
						<th>操作</th>
					</tr>
				</thead>

				<tbody ng-show="!isLoading">
					<tr ng-repeat="row in displayed" bindonce>
						<td class="ellipsisTd" bo-text="row.no"></td>
						<td bo-text="row.vendorKey"></td>
						<td bo-text="row.vendorName"></td>
						<td bo-text="'￥' + row.price"></td>
						<td bo-text="row.months | monthsToYear"></td>
						<td bo-text="row.quantity"></td>
						<td bo-text="row.quantityUsed"></td>
						<td bo-class="{'txtRed':row.exceed == 0,'txtGreen':row.exceed == 1}" bo-text="row.exceed == 1?'开启':'关闭'"></td>
						<td bo-text="row.createTime | formateTime"></td>
						<td bo-text="row.creator"></td>
						<td>
							<button class="btn btn-primary tableBtn" ng-click="toDetails(row.no)">详情
							</button>
							<button bo-if="perms(624)" class="btn btn-primary tableBtn btnGreen" ng-click="exportExcel(row)">导出授权文件
							</button>
							<button bo-if="perms(626)" class="btn btn-primary tableBtn" ng-click="addQu(row)">增加数量
							</button>
							<button bo-if="row.exceed == 1 && perms(625)" class="btn btn-primary tableBtn btnRed" ng-click="changeExceed(row)">关闭超限</button>
							<button bo-if="row.exceed != 1 && perms(625)" class="btn btn-primary tableBtn" ng-click="changeExceed(row)">开启超限</button>
						</td>
					</tr>
				</tbody>
				<tbody me-include="/static/tpl/table.html"></tbody>
				<tfoot ng-show="!isLoading" me-include="/static/tpl/table_footer.html"></tfoot>
			</table>
		</div>
	</div>
</div>